

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Overpass:300,400,600,800">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="schema_doc.css">
    <script src="https://use.fontawesome.com/facf9fa52c.js"></script>
    <script src="schema_doc.min.js"></script>
    <meta charset="utf-8"/>
        
    
    <title>Status Map</title>
</head>
<body onload="anchorOnLoad();" id="root"><div class="text-right">
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target=".collapse:not(.show)" aria-expanded="false">Expand all</button>
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target=".collapse.show" aria-expanded="false">Collapse all</button>
        </div>

    <div class="breadcrumbs"></div> <h1>Status Map</h1><span class="badge badge-dark value-type">Type: object</span><br/>
<span class="description"><p>Data structure to specify recoding based on response state.</p>
</span>
        

        
        

        
<div class="accordion" id="accordionstatus">
    <div class="card">
        <div class="card-header" id="headingstatus">
            <h2 class="mb-0">
                <button class="btn btn-link property-name-button" type="button" data-toggle="collapse" data-target="#status"
                        aria-expanded="" aria-controls="status" onclick="setAnchor('#status')"><span class="property-name">status</span> <span class="badge badge-warning required-property">Required</span></button>
            </h2>
        </div>

        <div id="status"
             class="collapse property-definition-div" aria-labelledby="headingstatus"
             data-parent="#accordionstatus">
            <div class="card-body pl-5">

    <div class="breadcrumbs">root
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right-short" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path
                fill-rule="evenodd"
                d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"
            />
        </svg>
    <a href="#status" onclick="anchorLink('status')">status</a></div><span class="badge badge-dark value-type">Type: enum (of string)</span><br/>
<span class="description"><p>Status of a response to be recoded.</p>
</span><div class="enum-value" id="status_enum">
            <h4>Must be one of:</h4>
            <ul class="list-group"><li class="list-group-item enum-item">"UNSET"</li><li class="list-group-item enum-item">"NOT_REACHED"</li><li class="list-group-item enum-item">"DISPLAYED"</li><li class="list-group-item enum-item">"INVALID"</li><li class="list-group-item enum-item">"DERIVE_ERROR"</li><li class="list-group-item enum-item">"NO_CODING"</li><li class="list-group-item enum-item">"CODING_INCOMPLETE"</li><li class="list-group-item enum-item">"CODING_ERROR"</li></ul>
            </div>
        

        
        

        
            </div>
        </div>
    </div>
</div>
<div class="accordion" id="accordionrecodeToMissing">
    <div class="card">
        <div class="card-header" id="headingrecodeToMissing">
            <h2 class="mb-0">
                <button class="btn btn-link property-name-button" type="button" data-toggle="collapse" data-target="#recodeToMissing"
                        aria-expanded="" aria-controls="recodeToMissing" onclick="setAnchor('#recodeToMissing')"><span class="property-name">recodeToMissing</span></button>
            </h2>
        </div>

        <div id="recodeToMissing"
             class="collapse property-definition-div" aria-labelledby="headingrecodeToMissing"
             data-parent="#accordionrecodeToMissing">
            <div class="card-body pl-5">

    <div class="breadcrumbs">root
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right-short" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path
                fill-rule="evenodd"
                d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"
            />
        </svg>
    <a href="#recodeToMissing" onclick="anchorLink('recodeToMissing')">recodeToMissing</a></div><span class="badge badge-dark value-type">Type: string</span><br/>
<span class="description"><p>Identifier for missing. A missing list is required to lookup the code value.</p>
</span><span class="pattern-value" id="recodeToMissing_pattern">Must match regular expression: <code>^[A-Za-z_]+$</code></span>
        

        
        

        <br/>
<div class="badge badge-secondary">Examples:</div>
<br/><div id="recodeToMissing_ex1" class="jumbotron examples"><div class="highlight"><pre><span></span><span class="s2">&quot;mbi&quot;</span>
</pre></div>
</div><div id="recodeToMissing_ex2" class="jumbotron examples"><div class="highlight"><pre><span></span><span class="s2">&quot;mbd&quot;</span>
</pre></div>
</div><div id="recodeToMissing_ex3" class="jumbotron examples"><div class="highlight"><pre><span></span><span class="s2">&quot;mir&quot;</span>
</pre></div>
</div>
            </div>
        </div>
    </div>
</div>
<div class="accordion" id="accordionrecodeToFalse">
    <div class="card">
        <div class="card-header" id="headingrecodeToFalse">
            <h2 class="mb-0">
                <button class="btn btn-link property-name-button" type="button" data-toggle="collapse" data-target="#recodeToFalse"
                        aria-expanded="" aria-controls="recodeToFalse" onclick="setAnchor('#recodeToFalse')"><span class="property-name">recodeToFalse</span></button>
            </h2>
        </div>

        <div id="recodeToFalse"
             class="collapse property-definition-div" aria-labelledby="headingrecodeToFalse"
             data-parent="#accordionrecodeToFalse">
            <div class="card-body pl-5">

    <div class="breadcrumbs">root
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right-short" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path
                fill-rule="evenodd"
                d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"
            />
        </svg>
    <a href="#recodeToFalse" onclick="anchorLink('recodeToFalse')">recodeToFalse</a></div><span class="badge badge-dark value-type">Type: boolean</span><br/>
<span class="description"><p>If true, the value is recoded to the first score 0 code found in the code list of coding scheme.</p>
</span>
        

        
        

        
            </div>
        </div>
    </div>
</div>

    <footer>
        <p class="generated-by-footer">Generated using <a href="https://github.com/coveooss/json-schema-for-humans">json-schema-for-humans</a> on 2025-02-20 at 16:27:11 +0100</p>
    </footer></body>
</html>